body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(269.85deg, #FFDF64 0.12%, #F4D456 99.86%);
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.result-card {
    background-color: #FFFFFF;
    text-align: center;
    padding: 24px 45px 47px;
    border-radius: 20px;
}

.result-card>img {
    width: 316px;
    height: 275px;
}

.result-card>h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
    margin: 0 0;
}

.result-card>p {
    font-size: 25px;
    color: #373434;
    margin: 16px 0 47px 0;
}

.result-card>a>button {
    width: 344px;
    height: 70px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}

.result-card>a>button:hover {
    background-color: #342d2d;
}